{% extends "base.html" %}
{% block title %} Add Pet {% endblock %}

{% block content %}
<!-- <div class="text-center">
    <form action="/add" class="row g-3" id="add_pet_form" method="POST">
        <h1>Add Pet</h1>


        {% for field in form if field.widget.input_type != 'hidden'%}
            <div class="mb-3">
                {{field.label}}
                {{field}}
                {% for error in field.errors %}
                    <p class="error">{{error}}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <button>Add Pet</button>
    </form>
</div> -->
<div class="text-center">
    <h1>Add Pet</h1>
    <form action="/add" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden'%}
        {{field.label}}
        {{field}}
        {% endfor %}
        <button>Add Pet</button>
    </form>
</div>

{% endblock %}