{% extends "base.html" %}
{% block title %} Pet Adoption {% endblock %}
{% block content %}

<!-- <ul>
    {% for pet in pets %}
        <li>
            <img src="{{pet.photo_url}}" alt="pet photo" class="pet-photo">
            {{pet.name}}
        </li>
        <p>Available: {{pet.available}}</p>
    {% endfor %}
</ul> -->
<div class="text-center row">

    <h1>Pet Adoption</h1>
    {%for pet in pets%}

        <div class="card" style="width: 25rem; margin: 20px;">
            <img src="{{pet.photo_url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{pet.name}}</h5>
                <p class="card-text"> <strong>Available: {{pet.available}}</strong> </p>
                <a href="/{{pet.id}}" class="btn btn-primary">See Details</a>
            </div>
        </div>
        
    {% endfor %}

</div>



{% endblock %}